/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*<!--Custom CSS-->*/
.wrapper {
    display: flex;
    min-height: calc(100vh - 56px); /* navbar height বাদ */
}

 .wrapper .wrapper-content {
        margin-left: 250px; /* sidebar width */
        width: calc(100% - 250px);
        padding: 20px;
        background-color: #f4f6f9;
        min-height: 100vh;
  }


.sidebar {
    width: 250px;
    background-color: #38dde8; /* Deep blue */
    min-height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }


    .sidebar .nav-link {
        color: #e0e7ff;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        font-size: 15px;
    }

        .sidebar .nav-link:hover {
            background-color: #2563eb;
            color: #ffffff;
        }


