/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*<!--Custom CSS-->*/
.wrapper{
    display:-webkit-box,-ms-flexbox,flex;
}
.wrapper .wrapper-content{
    overflow-x:hidden;
    width:100%;
    padding:1rem 1rem 0px 80px;
}

.sidebar{
    width:250px !important;
    background-color:rgb(0, 0, 0) !important;
    min-height:calc(100vh - 56px);
    padding:0 !important;
}

.sidebar .nav-item .nav-link{
    list-style:none;
    padding:0.75rem 1rem;
    display:inline-flex;
    width:250px;
    white-space:break-spaces;
    color:white;
}
.sidebar .nav-item .nav-link:hover{
    background:#c1bbbb;
    cursor:pointer;
    border-bottom:1px solid white;
    color:white;
}
